// Fonts

$primary-font: #263276;

// Colors & Highlights

$light-grey: #fafafa;
$white: #fff;
$dark-blue: #263276;
$light-blue: rgba(38, 50, 118, 0.5);
$light-black: rgba(0, 0, 0, 0.1);
$shadow-black: rgba(0, 0, 0, 0.05);
